In [3]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt

from sklearn.ensemble import GradientBoostingClassifier

from sklearn.feature_selection import SelectFromModel
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline, FeatureUnion, make_pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.decomposition import PCA

from imblearn.under_sampling import RandomUnderSampler

from sklearn.metrics import classification_report, precision_recall_curve, roc_curve, auc, confusion_matrix


import pickle
import itertools

In [5]:
class ColumnSelector(BaseEstimator, TransformerMixin):
    def __init__(self, columns):
        self.columns = columns

    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        assert isinstance(X, pd.DataFrame)

        try:
            return X[self.columns]
        except KeyError:
            cols_error = list(set(self.columns) - set(X.columns))
            raise KeyError(f'DataFrame не содержит следующие колонки: {cols_error}')

In [6]:
with open('gb_classifier_model.pickle', 'rb') as f:
    gb_fs_pipe_final = pickle.load(f)

In [10]:
with open('./test_df.pkl', 'rb') as f:
    test_df = pickle.load(f)

In [11]:
y_pred = gb_fs_pipe_final.predict_proba(test_df)[:, 1]

In [18]:
test_df = pd.read_csv('data_test.csv')
test_df = test_df.drop('Unnamed: 0', axis=1)

In [19]:
test_df['target'] = y_pred

In [20]:
test_df

            id  vas_id    buy_time    target
0      3130519     2.0  1548018000  0.251819
1      2000860     4.0  1548018000  0.818036
2      1099444     2.0  1546808400  0.251819
3      1343255     5.0  1547413200  0.818036
4      1277040     2.0  1546808400  0.251819
...        ...     ...         ...       ...
71226  2502453     5.0  1548018000  0.269590
71227  1693213     2.0  1548018000  0.184749
71228  1891350     2.0  1548018000  0.221190
71229  2437172     2.0  1548018000  0.167057
71230   988236     2.0  1548018000  0.233717

[71231 rows x 4 columns]

In [21]:
test_df.to_csv('answers_test.csv', index=False)